{% extends 'base/admin_base.html' %}

{% block title %}
Reports
{% endblock %}

{% block content %}

<h2>System Reports</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card p-3 mb-3">

            <h4>Total Users</h4>

            <h2>{{ total_users }}</h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-3 mb-3">

            <h4>Total Predictions</h4>

            <h2>{{ total_predictions }}</h2>

        </div>

    </div>

</div>

<div class="card p-4">

    <h4>Sales Statistics</h4>

    <hr>

    <p>
        <strong>Average Sales:</strong>
        {{ avg_sales }}
    </p>

    <p>
        <strong>Highest Prediction:</strong>
        {{ max_sales }}
    </p>

    <p>
        <strong>Lowest Prediction:</strong>
        {{ min_sales }}
    </p>

</div>

{% endblock %}